header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Bree Serif', serif;
    text-transform: uppercase;
    font-size: 2em;
    color: orangered;
}

body {
    display: flex;
    justify-content: center;
    background: peachpuff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: .5px solid peachpuff;
}

.topics {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    border: .5px solid orangered;
    background: peachpuff;
    color: orangered;
    font-family: 'Bree Serif', serif;
    font-size: 1.2em;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: .5px solid orangered;
    size: 100px;
}

.square, .emptySquare {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 70px;
    border: .5px solid orangered;
    background: peachpuff;
    color: orangered;
    font-family: 'Bree Serif', serif;
    font-size: 25px; 
    
}

.square:hover {
    background: purple;
}

.modal-content{
    background-color: darkgray;
    width: 600px;
    height: 440px;
    top: 0;
    left: 0;
    border-radius: 5px; 
    padding: 20px;
    text-align: center;
    position: relative;
  } 

  .modal-background {
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background: purple;
  }

  .modal {
      height: 50%;
      width: 50%;
      background: peachpuff;

  }
  
  .question {
      display: flex;
      justify-content: center;
      font-family: 'Bree Serif', serif;
      font-size: 1.5em;
      color: orangered;
  }

  .Solution {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 20px;
      font-family: 'Bree Serif', serif;
      text-transform: uppercase;
      color: orangered;
  }
  .score {
      color: purple;
      font-size: 2em;
      font-family: 'Bree Serif', serif;
  }

  .questionScore {
    color: peachpuff;

  }

  #submit {
      color: purple;
      border-color: orangered;
      border-width: .2em;
      border-style: dashed;
      font-family: 'Bree Serif', serif;
      font-size: 1em;

  }